@{
    ViewData["Title"] = "Inicio";
    Layout = "_Layout";
}

<div class="main-banner">
    <div class="owl-carousel owl-banner">
        <div class="item item-1">
            <div class="header-text">
                <span class="category">San José, <em>Costa Rica</em></span>
                <h2>¡Encuentra!<br>La mejor propiedad para alquilar</h2>
            </div>
        </div>
        <div class="item item-2">
            <div class="header-text">
                <span class="category">Alajuela, <em>Costa Rica</em></span>
                <h2>¡Rápido!<br>Encuentra la mejor propiedad en la ciudad</h2>
            </div>
        </div>
        <div class="item item-3">
            <div class="header-text">
                <span class="category">Cartago, <em>Costa Rica</em></span>
                <h2>¡Actúa ahora!<br>Encuentra tu hogar ideal</h2>
            </div>
        </div>
    </div>
</div>

<div class="featured section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="left-image">
                    <img src="~/images/featured.jpg" alt="">
                    <a href="#propiedades"><img src="~/images/featured-icon.png" alt="" style="max-width: 60px; padding: 0px;"></a>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="section-heading">
                    <h6>| Destacado</h6>
                    <h2>Mejor Apartamento & Vista al Mar</h2>
                </div>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                ¿Cómo funciona el sistema?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Nuestro <strong>sistema de gestión de alquileres</strong> te permite buscar, visualizar y gestionar propiedades disponibles para alquiler. Regístrate como usuario para acceder a todas las funcionalidades.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                ¿Qué tipos de propiedades ofrecemos?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Ofrecemos una amplia variedad de propiedades: <strong>casas, apartamentos, villas y condominios</strong> en diferentes zonas del país. Todas nuestras propiedades están verificadas y listas para alquilar.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                ¿Por qué elegir nuestro sistema?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Ofrecemos un <strong>sistema confiable y fácil de usar</strong> para gestionar tus alquileres. Con nuestro sistema puedes buscar propiedades, contactar propietarios y gestionar tus contratos de manera eficiente.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="info-table">
                    <ul>
                        <li>
                            <img src="~/images/info-icon-01.png" alt="" style="max-width: 52px;">
                            <h4>250 m2<br><span>Espacio Total</span></h4>
                        </li>
                        <li>
                            <img src="~/images/info-icon-02.png" alt="" style="max-width: 52px;">
                            <h4>Contrato<br><span>Listo para Firmar</span></h4>
                        </li>
                        <li>
                            <img src="~/images/info-icon-03.png" alt="" style="max-width: 52px;">
                            <h4>Pago<br><span>Proceso de Pago</span></h4>
                        </li>
                        <li>
                            <img src="~/images/info-icon-04.png" alt="" style="max-width: 52px;">
                            <h4>Seguridad<br><span>24/7 Bajo Control</span></h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fun-facts">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="counter">
                                <h2 class="timer count-title count-number" data-to='150' data-speed='1000'></h2>
                                <p class="count-text">Propiedades<br>Disponibles</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="counter">
                                <h2 class="timer count-title count-number" data-to='10' data-speed='1000'></h2>
                                <p class="count-text">Años<br>de Experiencia</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="counter">
                                <h2 class="timer count-title count-number" data-to='500' data-speed='1000'></h2>
                                <p class="count-text">Clientes<br>Satisfechos</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section best-deal" id="propiedades">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-heading">
                    <h6>| Mejores Ofertas</h6>
                    <h2>Encuentra Tu Mejor Oferta Ahora!</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="tabs-content">
                    <div class="row">
                        <div class="nav-wrapper">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="apartamento-tab" data-bs-toggle="tab" data-bs-target="#apartamento" type="button" role="tab" aria-controls="apartamento" aria-selected="true">Apartamento</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="casa-tab" data-bs-toggle="tab" data-bs-target="#casa" type="button" role="tab" aria-controls="casa" aria-selected="false">Casa</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="villa-tab" data-bs-toggle="tab" data-bs-target="#villa" type="button" role="tab" aria-controls="villa" aria-selected="false">Villa</button>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="apartamento" role="tabpanel" aria-labelledby="apartamento-tab">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="info-table">
                                            <ul>
                                                <li>Espacio Total <span>85 m2</span></li>
                                                <li>Número de piso <span>5to</span></li>
                                                <li>Número de habitaciones <span>2</span></li>
                                                <li>Estacionamiento Disponible <span>Sí</span></li>
                                                <li>Proceso de Pago <span>Banco</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <img src="~/images/deal-01.jpg" alt="">
                                    </div>
                                    <div class="col-lg-3">
                                        <h4>Información Extra Sobre la Propiedad</h4>
                                        <p>Apartamento moderno y acogedor ubicado en zona céntrica. Cuenta con todas las comodidades necesarias para una vida cómoda.
                                        <br><br>Ideal para profesionales jóvenes o parejas que buscan un hogar en el corazón de la ciudad.</p>
                                        <div class="icon-button">
                                            <a href="#contacto"><i class="fa fa-calendar"></i> Agendar una visita</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="casa" role="tabpanel" aria-labelledby="casa-tab">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="info-table">
                                            <ul>
                                                <li>Espacio Total <span>150 m2</span></li>
                                                <li>Número de pisos <span>2</span></li>
                                                <li>Número de habitaciones <span>3</span></li>
                                                <li>Estacionamiento Disponible <span>Sí</span></li>
                                                <li>Proceso de Pago <span>Banco</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <img src="~/images/deal-02.jpg" alt="">
                                    </div>
                                    <div class="col-lg-3">
                                        <h4>Información Detallada Sobre la Casa</h4>
                                        <p>Casa espaciosa con jardín y área de parqueo. Perfecta para familias que buscan espacio y comodidad.
                                        <br><br>Ubicada en zona residencial tranquila con fácil acceso a servicios y transporte público.</p>
                                        <div class="icon-button">
                                            <a href="#contacto"><i class="fa fa-calendar"></i> Agendar una visita</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="villa" role="tabpanel" aria-labelledby="villa-tab">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="info-table">
                                            <ul>
                                                <li>Espacio Total <span>250 m2</span></li>
                                                <li>Número de pisos <span>2</span></li>
                                                <li>Número de habitaciones <span>4</span></li>
                                                <li>Estacionamiento Disponible <span>Sí</span></li>
                                                <li>Proceso de Pago <span>Banco</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <img src="~/images/deal-03.jpg" alt="">
                                    </div>
                                    <div class="col-lg-3">
                                        <h4>Información Extra Sobre la Villa</h4>
                                        <p>Villa de lujo con piscina y amplios espacios. Ideal para quienes buscan el máximo confort y exclusividad.
                                        <br><br>Cuenta con todas las amenidades de un hogar de alta gama en una ubicación privilegiada.</p>
                                        <div class="icon-button">
                                            <a href="#contacto"><i class="fa fa-calendar"></i> Agendar una visita</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="properties section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                <div class="section-heading text-center">
                    <h6>| Propiedades</h6>
                    <h2>Ofrecemos Las Mejores Propiedades Que Te Gustan</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <a href="#"><img src="~/images/property-01.jpg" alt=""></a>
                    <span class="category">Villa de Lujo</span>
                    <h6>$1,200/mes</h6>
                    <h4><a href="#">Calle Principal 123, San José</a></h4>
                    <ul>
                        <li>Habitaciones: <span>4</span></li>
                        <li>Baños: <span>3</span></li>
                        <li>Área: <span>200m2</span></li>
                        <li>Piso: <span>1</span></li>
                        <li>Estacionamiento: <span>2 espacios</span></li>
                    </ul>
                    <div class="main-button">
                        <a href="#contacto">Agendar una visita</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <a href="#"><img src="~/images/property-02.jpg" alt=""></a>
                    <span class="category">Apartamento Moderno</span>
                    <h6>$800/mes</h6>
                    <h4><a href="#">Avenida Central 456, Alajuela</a></h4>
                    <ul>
                        <li>Habitaciones: <span>2</span></li>
                        <li>Baños: <span>2</span></li>
                        <li>Área: <span>90m2</span></li>
                        <li>Piso: <span>8vo</span></li>
                        <li>Estacionamiento: <span>1 espacio</span></li>
                    </ul>
                    <div class="main-button">
                        <a href="#contacto">Agendar una visita</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <a href="#"><img src="~/images/property-03.jpg" alt=""></a>
                    <span class="category">Casa Familiar</span>
                    <h6>$950/mes</h6>
                    <h4><a href="#">Barrio Los Yoses, San José</a></h4>
                    <ul>
                        <li>Habitaciones: <span>3</span></li>
                        <li>Baños: <span>2</span></li>
                        <li>Área: <span>120m2</span></li>
                        <li>Piso: <span>1</span></li>
                        <li>Estacionamiento: <span>2 espacios</span></li>
                    </ul>
                    <div class="main-button">
                        <a href="#contacto">Agendar una visita</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact section" id="contacto">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                <div class="section-heading text-center">
                    <h6>| Contáctenos</h6>
                    <h2>Póngase en Contacto Con Nuestros Agentes</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.982106088885!2d-84.07341768459224!3d9.92887639290538!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e3c5e3e5e3e5%3A0x8fa0e3c5e3e5e3e5!2sSan%20Jos%C3%A9%2C%20Costa%20Rica!5e0!3m2!1ses!2scr!4v1234567890123!5m2!1ses!2scr" width="100%" height="500px" frameborder="0" style="border:0; border-radius: 10px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);" allowfullscreen=""></iframe>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="item phone">
                            <img src="~/images/phone-icon.png" alt="" style="max-width: 52px;">
                            <h6>2222-0000<br><span>Número de Teléfono</span></h6>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="item email">
                            <img src="~/images/email-icon.png" alt="" style="max-width: 52px;">
                            <h6>info@alquileres.com<br><span>Email de Negocio</span></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <form id="contact-form" action="" method="post">
                    <div class="row">
                        <div class="col-lg-12">
                            <fieldset>
                                <label for="name">Nombre Completo</label>
                                <input type="name" name="name" id="name" placeholder="Su Nombre..." autocomplete="on" required>
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <label for="email">Dirección de Email</label>
                                <input type="email" name="email" id="email" placeholder="Su E-mail..." required="">
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <label for="subject">Asunto</label>
                                <input type="subject" name="subject" id="subject" placeholder="Asunto..." autocomplete="on">
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <label for="message">Mensaje</label>
                                <textarea name="message" id="message" placeholder="Su Mensaje"></textarea>
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <button type="submit" id="form-submit" class="orange-button">Enviar Mensaje</button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
